<div>
	<div class="row">
		<div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">
			<h1>ASP Store Login</h1>
			<form role="form">
				<div class="form-content">
					<div class="">
						<input type="text" id="" placeholder="Username" ng-model="userId"/>
						<input type="password" id="" placeholder="Password" ng-model="userPass"/>
					</div>
					<br></br>
				</div>
				<div class="row">

					<label ui-sref="register" class="btn btn-sm ">Sign up</label>
					<button ng-click="login(userId, userPass)" class="btn btn-white btn-outline btn-lg btn-rounded">Sign in</button>
				</div>

			</form>

		</div>
	</div>

</div>
