<div>
	<h1>Dashboard view</h1>
	<h3>AGREGAR PRODUCTOS</h3>
	<input ng-model = "dash.nombre" type="text" placeholder="Nombre">
	<input ng-model = "dash.description" type="text" placeholder="Descripcion">
	<button ng-click="dash.addProducts(dash.nombre,dash.description)" class="btn btn-white btn-outline btn-lg btn-rounded">Agregar Producto</button>
	<br><br><br>
	<input ng-model = "buscarText" type="text" placeholder="Buscar">
	<br>
	<br>


	<ul class="tab">
		<h3>LISTA DE PRODUCTOS</h3>
		<li ng-repeat = 'product in dash.productos | filter: dash.buscarText' >
			ID: {{product._id}}  Nombre:{{product.name}}   Descripcion: {{product.description}}
		</li>
	</ul>

<!--
	<tabset>
		<tab ng-repeat="product in dash.productos"
			 heading="{{product._id}}"
			 active=product.active>
			{{product.name}} - {{product.description}}
		</tab>
	</tabset>
-->
</div>
